/* Font imports handled in index.html for performance, this file can be used for font classes */

.font-marker {
    font-family: 'Permanent Marker', cursive;
}

.font-bangers {
    font-family: 'Bangers', system-ui;
}

.font-yellowtail {
    font-family: 'Yellowtail', cursive;
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
}

.font-chewy {
    font-family: 'Chewy', cursive;
}

.font-luckiest {
    font-family: 'Luckiest Guy', cursive;
}

.font-carter {
    font-family: 'Carter One', system-ui;
}

.font-boogaloo {
    font-family: 'Boogaloo', cursive;
}