/* Font imports handled in index.html for performance, this file can be used for font classes */

.font-bangers {
    font-family: 'Bangers', system-ui;
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
}

.font-chewy {
    font-family: 'Chewy', cursive;
}

.font-luckiest {
    font-family: 'Luckiest Guy', cursive;
}

.font-boogaloo {
    font-family: 'Boogaloo', cursive;
}